body {
  min-height: 2000px;
  padding-top: 70px;
}
ul, li {
    display:inline
}
.dropdown-menu {
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
